*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url('img/NJ8n2ctoL0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    
}


/* Navegacion menu principal */


.padre-menu{
    margin: 0;
}
header{
    background-color: #f99042;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin: 0; 
    border: 1px solid #000;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    
}
.nav-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-menu a:hover{
    color: black;
}

.form{
    
    height: 77.5vh;
}
.nombre{
    background-color: #f99042;
    width: 270px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 5px;
    margin: 10px auto;
    border-radius: 10px;
}
.correo{
    /* align-items: center; */
    background-color: #f99042;
    width: 270px;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 15px;
    border-radius: 10px;
}
.mensaje{
    text-align: center;
    background-color: #f99042;
    width: 270px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin: 10px auto;
    border-radius: 10px; 
}
.enviar{
    width: 270px;
    justify-content: center;
    margin: 10px auto;
      
}
button{
    width: 270px;
    border-radius: 10px;
}


footer{
    padding: 50px;
    background-color: gray;
    
}
.link-footer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    margin-bottom: 30px;
}
.link-footer i{
    color: white;
    text-align: center;
}
.link-footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pie-footer{
    text-align: center;
    color: white;
}

