*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
/* Navegacion menu principal */
header{
    background-color: #ff7514;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

   
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: 20px auto;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: black;
}
